html, body {
  background-color: #B3E4F5;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  color: #736D71;
  adding-right: 1em;
  padding-left: 1em;
  font-size: 1.2em;
}
span.subr {
  color: #F7F5F2;
  padding-right: 1em;
  padding-left: 1em;
}
.name {
  color: #F59DDD;
  font-size: 1.4em;
}

.head {
  font-family: monaco,Consolas,Lucida Console,monospace;
  color: #028BED;
  
}



.footer {
   position: fixed;
   left: 0px;
   bottom: 0px;
   height: 17px;
   width: 100%;
   background-color: #B3BABA;
   color: white;
   margin: auto;
   text-align: center;
}
